body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar:hover{
  fill: yellow;
}

#title{
    font-size: 50px; 
}

svg{
    background-color: rgb(10, 200, 100);
}
